.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.imagePreview {
  border: 1px solid var(--gray-alpha-200);
  max-width: 75vw;
}

.results {
  display: block;
  text-align: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  max-width: 75vw;
}
.hr {
  width: 100%;
  height: 1px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.text {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50vw;
}

.callout {
  padding: 15px;
  background: #fafafa;
  border-radius: 4px;
}

.swatch {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}
.darkSwatch {
  color: white;
}

@media (max-width: 911px) {
  .plotly {
    max-width: 75vw;
    scale: 0.75;
  }
}

@media (max-width: 720px) {
  .plotly {
    max-width: 75vw;
    scale: 0.6;
  }
}

@media (max-width: 600px) {
  .plotly {
    max-width: 75vw;
    scale: 0.4;
  }
}

@media (max-width: 400px) {
  .plotly {
    max-width: 75vw;
    scale: 0.2;
  }
}
